
h1 {
	text-align: center;
	color: pink;
	background: url('http://dash.ga.co/assets/jeff-bg.png');
	font-size: 70px;
}

#social-buttons button {
	color:white;
}
.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26; {
      
ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);  
    }