
h1 {
	text-align: center;
	color: pink;
	background: url('https://s-media-cache-ak0.pinimg.com/564x/3d/d4/ca/3dd4ca8c4fc13e2c9cf8ab1a30d18ad3.jpg');
	background-size: cover;
	font-size: 70px;
}
h2 {
	text-align: center;
}

ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      text-align: center;
      padding: 5px;
      display: block;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;

#social-buttons button {
	color:white;
}
.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26; {
      
ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);  
    }

