
 body {background-image: url('https://cdn.shopify.com/s/files/1/1071/1242/files/Ylfa_Gronvold_Illustrations_-_ipad_flamingo_flock.jpg?2135578015588501196');
 background-size: cover;
 }
 .headertext {
	padding:30px;
}
div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 40px 0 0 0;
  border-radius: 12px;
}

.first{
  background-image: url("https://img.grouponcdn.com/deal/5emvyrUF7uji5swPHn1f/FP-1000x600/v1/c700x420.jpg");
}
.second{
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/93/a5/54/93a5546ba330404b627baa64a797c6c4.jpg");
}
.third{
  background-image: url("http://image.shutterstock.com/z/stock-photo-abstract-watercolor-wet-on-wet-paper-high-resolution-paint-87735529.jpg");
}

h1 {
	text-align: center;
	color: #EC2BB4; 
	font-size: 70px;
}
h2 {
	text-align: center;
}
ul {
      padding: 10px;
      text-align: center;
      color: rgba(0,0,0,0);
      background: rgba(5,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      text-align: center;
      padding: 5px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;

p {
	background-color: white;
	font-family: arial; 
}

#social-buttons button {
	color:white;
}
.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26; {
 


